<ion-header>
  <ion-toolbar>
    <ion-title>alerta</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alerta</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="exibir()">Exibir alerta</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alerta</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="exibirCustom()">Alerta Customizado</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alerta</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" fill="outline" (click)="exibirComplete()">Alerta Completo</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
